<h1>Sudoku</h1>
<table >
  <tbody>
    <tr>
      <td id="1">{{board[0][0]}}</td>
      <td id="2">{{board[0][1]}}</td>
      <td id="3">{{board[0][2]}}</td>
      <td id="4">{{board[0][3]}}</td>
      <td id="5">{{board[0][4]}}</td>
      <td id="6">{{board[0][5]}}</td>
      <td id="7">{{board[0][6]}}</td>
      <td id="8">{{board[0][7]}}</td>
      <td id="9">{{board[0][8]}}</td>
    </tr>
    <tr>
      <td id="10">{{board[1][0]}}</td>
      <td id="11">{{board[1][1]}}</td>
      <td id="12">{{board[1][2]}}</td>
      <td id="13">{{board[1][3]}}</td>
      <td id="14">{{board[1][4]}}</td>
      <td id="15">{{board[1][5]}}</td>
      <td id="16">{{board[1][6]}}</td>
      <td id="17">{{board[1][7]}}</td>
      <td id="18">{{board[1][8]}}</td>
    </tr>
    <tr>
      <td id="19">{{board[2][0]}}</td>
      <td id="20">{{board[2][1]}}</td>
      <td id="21">{{board[2][2]}}</td>
      <td id="22">{{board[2][3]}}</td>
      <td id="23">{{board[2][4]}}</td>
      <td id="24">{{board[2][5]}}</td>
      <td id="25">{{board[2][6]}}</td>
      <td id="26">{{board[2][7]}}</td>
      <td id="27">{{board[2][8]}}</td>
    </tr>
    <tr>
      <td id="28">{{board[3][0]}}</td>
      <td id="29">{{board[3][1]}}</td>
      <td id="30">{{board[3][2]}}</td>
      <td id="31">{{board[3][3]}}</td>
      <td id="32">{{board[3][4]}}</td>
      <td id="33">{{board[3][5]}}</td>
      <td id="34">{{board[3][6]}}</td>
      <td id="35">{{board[3][7]}}</td>
      <td id="36">{{board[3][8]}}</td>
    </tr>
    <tr>
      <td id="37">{{board[4][0]}}</td>
      <td id="38">{{board[4][1]}}</td>
      <td id="39">{{board[4][2]}}</td>
      <td id="40">{{board[4][3]}}</td>
      <td id="41">{{board[4][4]}}</td>
      <td id="42">{{board[4][5]}}</td>
      <td id="43">{{board[4][6]}}</td>
      <td id="44">{{board[4][7]}}</td>
      <td id="45">{{board[4][8]}}</td>
    </tr>
    <tr>
      <td id="46">{{board[5][0]}}</td>
      <td id="47">{{board[5][1]}}</td>
      <td id="48">{{board[5][2]}}</td>
      <td id="49">{{board[5][3]}}</td>
      <td id="50">{{board[5][4]}}</td>
      <td id="51">{{board[5][5]}}</td>
      <td id="52">{{board[5][6]}}</td>
      <td id="53">{{board[5][7]}}</td>
      <td id="54">{{board[5][8]}}</td>
    </tr>
    <tr>
      <td id="55">{{board[6][0]}}</td>
      <td id="56">{{board[6][1]}}</td>
      <td id="57">{{board[6][2]}}</td>
      <td id="58">{{board[6][3]}}</td>
      <td id="59">{{board[6][4]}}</td>
      <td id="60">{{board[6][5]}}</td>
      <td id="61">{{board[6][6]}}</td>
      <td id="62">{{board[6][7]}}</td>
      <td id="63">{{board[6][8]}}</td>
    </tr>
    <tr>
      <td id="64">{{board[7][0]}}</td>
      <td id="65">{{board[7][1]}}</td>
      <td id="66">{{board[7][2]}}</td>
      <td id="67">{{board[7][3]}}</td>
      <td id="68">{{board[7][4]}}</td>
      <td id="69">{{board[7][5]}}</td>
      <td id="70">{{board[7][6]}}</td>
      <td id="71">{{board[7][7]}}</td>
      <td id="72">{{board[7][8]}}</td>
    </tr>
    <tr>
      <td id="73">{{board[8][0]}}</td>
      <td id="74">{{board[8][1]}}</td>
      <td id="75">{{board[8][2]}}</td>
      <td id="76">{{board[8][3]}}</td>
      <td id="77">{{board[8][4]}}</td>
      <td id="78">{{board[8][5]}}</td>
      <td id="79">{{board[8][6]}}</td>
      <td id="80">{{board[8][7]}}</td>
      <td id="81">{{board[8][8]}}</td>
    </tr>
  </tbody>
</table>
<br><br>



<button (click)="solveSudoku(board)">Solve</button>
